
  <div class="col-md-12">
    <p class="text-center">Chat Box</p>
    <hr>
    <ul *ngFor="let msg of messages" id="messages">
      <li>{{msg}}</li>
    </ul>

    <form name="form" id="form" #f="ngForm" (ngSubmit)="f.form.valid && sendMessage()">
      <input class="input nick" type="text" name="nickname" placeholder="Nickname" [(ngModel)]="nickname">
      <input class="input msg" type="text" name="message" [(ngModel)]="message" required placeholder="Message"/>
      <input class="button" type="submit" value="Send">
    </form>
  </div>



