
<app-admin-home></app-admin-home>

  <div class="row clearfix" *ngIf="editable">
    <div class="col-md-12 column">
      <form role="form" #f="ngForm" name="f" (ngSubmit)="f.form.valid && editSubmit(f)">
        <div class="form-group">
          <label>Title</label><br>
          <textarea rows="1" cols="140"  required name="title" #title="ngModel" ngModel placeholder="{{editItem?.title}}"></textarea>
        </div>
        <div class="form-group">
          <label>Description</label><br>
          <textarea rows="5" cols="140" placeholder="{{editItem?.description}}" required name="description" #description="ngModel" ngModel></textarea>
        </div>
        <p class="help-block" style="color:red" *ngIf="f.submitted && !f.form.valid">Input must be valid!</p>
        <input type="submit" class="btn" value="Submit">
        <button class="btn-danger" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>

<div class="container mt-5">
  <div class="row">
    <h1 class="text-center">News List</h1>

    <table datatable class="row-border hover" [dtOptions]="dtOptions">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Published At</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let newsItem of newsList; let i = index">
                <td>{{newsItem?.title}}</td>
                <td>{{newsItem?.description}}</td>
                <td>{{newsItem?.publishedAt | date:'longDate'}}</td>
                <td><button class="btn btn-warning me-3" (click)="edit(i)" *ngIf="!editable">Edit</button> <button class="btn btn-danger" (click)="onClickDelete(i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
