<div class="container mt-5">
    <h1 class="text-center">News List</h1>
    <div class="form-inline col-12 mb-3">
        <div class="form-group col-9">
            Show
            <select class="custom-select custom-select-sm ms-2" (onChange)="onChange($event.target.value)">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
            </div>
            <div class="form-group mb-2 col-3">
                Search
                <input class="ms-2" type="text" (keypress)="searchNews($event)"  />
            </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Published At</th>
                <th scope="col">Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let newsItem of filteredList; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{newsItem?.title}}</td>
                <td>{{newsItem?.description}}</td>
                <td>{{newsItem?.publishedAt | date:'longDate'}}</td>
                <td><button class="btn btn-warning me-3">Edit</button> <button class="btn btn-danger" (click)="onClickDelete(i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>