<div class="container">
    <div class="row">   
        <h4>weather component</h4> 
    <app-image-slider></app-image-slider> 
    <div class="displaycards">
        <div class="card" style="width: 18rem;" *ngFor="let item of newsItems">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{item.description}}</h6>
              <p class="card-text">{{item.publishedAt}}</p>
              <a href="#" class="card-link">{{item.url}}</a>
            </div>
          </div>
        </div>
        <div>
     <app-chat-box></app-chat-box>
    </div>   
</div>