<app-admin-home></app-admin-home>
<div class="row">
<div class="col-md-12">
  <h4 class="text-center align-middle">Add News </h4>
  <form [formGroup]="newsform">
    <div class="form-group m-3">
      <label for="title">Title</label>
      <input type="text" name="title" [ngClass]="
              (newsform.get('title').invalid &&
              (newsform.get('title').dirty ||
              newsform.get('title').touched)) === true
              ? 'is-invalid'
              : ''" id="title" formControlName="title" class="form-control" />
      <div *ngIf="(newsform.get('title').invalid &&
                (newsform.get('title').dirty ||
                newsform.get('title').touched))" class="invalid-feedback">
        <div *ngIf="newsform.get('title').errors.required">
          Title is required
        </div>
      </div>
    </div>
    <div class="form-group m-3">
      <label for="description">Description</label>
      <input type="text" name="description" id="description" [ngClass]="
                (newsform.get('description').invalid &&
                (newsform.get('description').dirty ||
                newsform.get('description').touched)) === true
                ? 'is-invalid'
                : ''" formControlName="description" class="form-control input-sm" required />
      <div *ngIf="(newsform.get('description').invalid &&
                (newsform.get('description').dirty ||
                newsform.get('description').touched))" class="invalid-feedback">
        <div *ngIf="newsform.get('description').errors.required">
          Description is required
        </div>
      </div>
    </div>

    <div class="form-group m-3">
      <label for="url">Url</label>
      <input type="text" name="url" id="url" [ngClass]="
                (newsform.get('url').invalid &&
                (newsform.get('url').dirty ||
                newsform.get('url').touched)) === true
                ? 'is-invalid'
                : ''" formControlName="url" class="form-control input-sm" required />
      <div *ngIf="(newsform.get('url').invalid &&
                (newsform.get('url').dirty ||
                newsform.get('url').touched))" class="invalid-feedback">
        <div *ngIf="newsform.get('url').errors.required">
          Url is required
        </div>
      </div>
    </div>
    <div class="form-group m-3">
      <label for="urlToImage">Url To Image</label>
      <input type="text" name="urlToImage" id="urlToImage" [ngClass]="
                (newsform.get('urlToImage').invalid &&
                (newsform.get('urlToImage').dirty ||
                newsform.get('urlToImage').touched)) === true
                ? 'is-invalid': ''" formControlName="urlToImage" class="form-control input-sm" required />
      <div *ngIf="(newsform.get('urlToImage').invalid &&
                (newsform.get('urlToImage').dirty ||
                newsform.get('urlToImage').touched))" class="invalid-feedback">
        <div *ngIf="newsform.get('urlToImage').errors.required">
          Url To Image is required
        </div>

      </div>
    </div>

    <div class="form-group m-3">
      <label for="publishedAt">Published At</label>
      <input type="text" name="publishedAt" id="publishedAt" [ngClass]="
                (newsform.get('publishedAt').invalid &&
                (newsform.get('publishedAt').dirty ||
                newsform.get('publishedAt').touched)) === true
                ? 'is-invalid'
                : ''" formControlName="publishedAt" class="form-control input-sm" required />
      <div *ngIf="(newsform.get('publishedAt').invalid &&
                (newsform.get('publishedAt').dirty ||
                newsform.get('publishedAt').touched))" class="invalid-feedback">
        <div *ngIf="newsform.get('publishedAt').errors.required">
          Published at is required
        </div>
      </div>
    </div>

    <div class="form-group m-3">
      <label for="category">Category</label>
      <input type="text" name="category" id="category" [ngClass]="
                (newsform.get('category').invalid &&
                (newsform.get('category').dirty ||
                newsform.get('category').touched)) === true
                ? 'is-invalid'
                : ''" formControlName="category" class="form-control input-sm" required />
      <div *ngIf="(newsform.get('category').invalid &&
                (newsform.get('category').dirty ||
                newsform.get('category').touched))" class="invalid-feedback">
        <div *ngIf="newsform.get('category').errors.required">
          Category is required
        </div>
      </div>
    </div>
    <div class="text-center">
      <input type="submit" value="Add news" (click)="addNews()" class="btn btn-primary me-3" />
      <input type="submit" value="RESET" (click)="onClickReset()" class="btn btn-warning " />
    </div>
  </form>
</div>
</div>
