<div class="card">
    <div class="card-header">
        Please Enter your Query
    </div>
    <div>
  <form #f="ngForm" (ngSubmit)="f.form.valid && addQuery(f)">
      <label>Email:</label>
      <div class="form-group">
        <input type="email" name="email" required email placeholder="Enter Email"/>
      </div>
      <label>Query:</label>
      <div class="form-group">
          <input type="text" name="query" required placeholder="Enter Query">
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    <p style="color:red" *ngIf="f.submitted && f.invalid">
      Please input valid email and query!
    </p>
    </form>
  </div>
</div>


