<div class="row">
  <app-header></app-header>
</div>
<div class="row">
  <div class="col-md-4">
<iframe
  width="300"
  height="250"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCCa-dSSzC9_05roiiND-tfWRC5Zbg8aJw
    &q=Tata+Consultancy+edison">
</iframe>
  </div>
  <div class="col-md-8 col-md-offset-4">
    <br><br>
    <h4>We are Group04!</h4><br>
    <p>Yuan Zhong, Lei Jiang, Tumula Akhitha, Madhu Nandamuri, Anuragreddy Gunreddy
    </p>
  </div>
</div>
